/*公共样式*/
.bear {
	position: absolute;
	/* bottom: 50px; */
	top: 82px;
	left: 0;
	width: 200px;
	height: 100px;
	background: url(../img/bear.png) no-repeat;
	/* 我们元素可以添加多个动画， 用逗号分隔 */
	animation: bear 1s steps(8) infinite, move 10s forwards;
}
.bottombgc {
	position: absolute;
	width: 100%;
	height: 180px;
	top: 0;
	background: url(../img/bg1.png);
}
@keyframes bear {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -1600px 0;
	}
}

@keyframes move {
	0% {
		left: 0;
	}
	100% {
		left: 98%;
		/* margin-left: -100px; */
		transform: translateX(-100%);
	}
}
.fl {
	float: left;
}
.fr {
	float: right;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7kkyc2');
    src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
    url('../fonts/icomoon.woff?7kkyc2') format('woff'),
    url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fr .icomoon {
	font-family: 'icomoon';
	font-size: 16px;
	line-height: 26px;
}
/*版心*/
.w {
	width: 1200px;
	margin: 0 auto;
}
.style-red {
	color: #c81623;
}
.spacer {
	width: 1px;
	height: 12px;
	background-color: #666;
	margin: 9px 12px 0;
}
/*顶部快捷导航*/
.shortcut {
	height: 31px;
	background-color: #e3e4e5;
	line-height: 31px;
}
.shortcut li {
	position: relative;
	z-index: 2;
	float: left;
	transform: translateZ(10px);
}
/* .shortcut li .cov:hover {
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 0;
} */
.down {
	display: none;
	position: absolute;
	z-index: 7691;
	top: 30px;
	left: 0px;
	width: 200px;
	height: 100px;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 10px 10px;
}
.covon{
	padding: 0 10px;
	position: relative;
	z-index: 7692;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 0;
}
.cov {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	padding: 0 10px;
	position: relative;
	z-index: 7692;
}

.down dl a{
	color: #999;
	margin-right: 25px;
}
.down dl a:hover{
	color: #c81623;
}
/*header区域*/
.header {
	position: relative;
	height: 105px;
}
.logo {
	position: absolute;
	top: 25px;
	left: 0;
	width: 225px;
	height: 56px;
}
.logo a {
	display: block;
	/*overflow: hidden;*/
	width: 225px;
	height: 56px;
	background: url(../img/logo.png) no-repeat;
	/*text-indent: -999px;*/
	font-size: 0;
}
.search {
	position: absolute;
	top: 25px;
	left: 348px;
}
.text {
	float: left;
	width: 445px;
	height: 32px;
	border: 2px solid #b1191a;
	padding-left: 10px;
	color: #ccc;
}
.btn {
	float: left;
	width: 82px;
	height: 36px;
	background-color: #b1191a;
	border: 0;
	font-size: 16px;
	color: #fff;
}
.hotwrods {
	position: absolute;
	top: 65px;
	left: 348px;
}
.hotwrods a {
	margin: 0 10px;
}
.shopcar {
	position: absolute;
	top:25px;
	right: 64px;
	width: 138px;
	height: 34px;
	border: 1px solid #dfdfdf;
	background-color: #f7f7f7;
	line-height: 34px;
	text-align: center;
}
.car {
	font-family: 'icomoon';
	color: #da5555;
}
.arrow {
	font-family: 'icomoon';
	margin-left: 5px;
}
.count {
	position: absolute;
	top: -5px;
	/*应该是左侧对齐 文字才能往右走显示*/
	left: 100px;
	background-color: #e60012;
	height: 14px;
	padding: 0 3px;
	line-height: 14px;
	color: #fff;
	/*border-radius: 左上角 右上角  右下角  左下角;*/
	border-radius: 7px 7px 7px 0;
}
/*nav start*/
.nav {
	height: 45px;
	border-bottom: 2px solid #b1191a;
}
.dropdown {
	width: 209px;
	height: 45px;
}
.dropdown .dt {
	height: 100%;
	background-color: #b1191a;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 45px;
	transform: translateZ(10px);
	border-radius: 12px 12px 0 0;
}
.dropdown .dd {
	height: 465px;
	background-color: #c81623;
	margin-top: 2px;
} 

.menu_item:hover {
	background-color: #fff;
}
/*鼠标经过li 里面的 a变颜色*/
.menu_item:hover a {
	color: #c81623;
}

.menu_item {
	height: 31px;
	line-height: 31px;
	margin-left: 1px;
	padding: 0 10px;
	transition: all .5s;
}
.menu_item:hover {
	padding-left: 20px;
}
.menu_item a {
	font-size: 14px;
	color: #fff;
}
.menu_item i {
	float: right;
	font-family: 'icomoon';
	font-size: 18px;
	color: #fff;
}
/* */
.navitems {
	margin-left: 25px;
}
.navitems li {
	height :45px;
	float: left;
	transform-style: preserve-3d;
	transition: all .4s;
}
.front {
	background-color: transparent;
	z-index: 1;
	transform: translateZ(24px);
}
.navitems li .bottom {
	background-color: #c81623;
	color: #fff;
	/* 这个x轴一定是负值 */
	/* 我们如果有移动 或者其他样式，必须先写我们的移动 */
	transform: translateY(-24px) rotateX(-90deg);
}
.navitems li a {
	display: block;
	padding: 0 20px;
	height :45px;
	line-height: 45px;
	font-size: 16px;
}
.navitems li:hover {
transform: rotateX(90deg);
}
/*footer 部分*/
.footer {
	height: 386px;
	background-color: #f5f5f5;
	padding-top: 30px;
}
.mod_service {
	height: 79px;
	border-bottom: 1px solid #ccc;
}

.mod_service li {
	float: left;
	width: 240px;
	height: 79px;

}
.mod-service-icon {
	/*浮动的盒子 可以直接给大小的 不需要转换*/
	float: left;
	width: 50px;
	height: 50px;
	margin-left: 35px;
	background: url(../img/icons.png) no-repeat;
}
.mod_service_zheng {
	background-position: -253px -3px;	
}
.mod_service_tit {
	float: left;
	margin-left: 5px;
}
.mod_service_tit h5 {
	margin: 5px 0;
}
.mod_service_kuai {
	background-position: -255px -54px;
}
.mod_service_bao {
	background-position: -257px -105px;
}
.mod_help {
	height: 187px;
	border-bottom: 1px solid #ccc;
}
.mod_help_item {
	float: left;
	width: 150px;
	padding: 20px 0 0 50px;
}
.mod_help_item dt {
	height: 25px;
	font-size: 16px;
}
.mod_help_item dd {
	height: 22px;
}
.mod_help_app dt,
.mod_help_app p {
	padding-left: 15px;
}
.mod_help_app img {
	width: 100px;
	height: 100px;
	margin: 7px 0;
}
.mod_copyright {
	text-align: center;
}
.mod_copyright_links {
	margin: 20px 0 15px 0;
}
.mod_copyright_info {
	line-height: 18px;
}
.erweima {
	position: fixed;
	top: 500px;
	left: 50%;
	margin-left: 640px;
	width: 120px;
	height: 120px;
}
.erweima img {
	border: 5px solid red;
	width: 100px;
	height: 100px;
}
.close-btn {
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	top: 17px;
	left: 0;
	font-size: 20px;
	margin-left: -20px;
	text-align: center;
	border: 5px solid red;
	border-right: 0px;
	cursor: pointer;
	color: red;
}
.erweima h4 {
	text-align: center;
}

.login {
	display: none;
	width: 512px;
	height: 280px;
	position: fixed;
	border: #ebebeb solid 1px;
	left: 50%;
	top: 50%;
	background: #ffffff;
	box-shadow: 0px 0px 20px #ddd;
	z-index: 9999;
	transform: translate(-50%, -50%);
}

.login-title {
	width: 100%;
	margin: 10px 0px 0px 0px;
	text-align: center;
	line-height: 40px;
	height: 40px;
	font-size: 18px;
	position: relative;
	cursor: move;
}

.login-input-content {
	margin-top: 20px;
}

.login-button {
	width: 50%;
	margin: 30px auto 0px auto;
	line-height: 40px;
	font-size: 14px;
	border: #ebebeb 1px solid;
	text-align: center;
}

.login-bg {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, .3);
}

a {
	text-decoration: none;
	color: #000000;
}

.login-button a {
	display: block;
}
.login-button input {
	display: block;
	width: 100%;
	height: 35px;
}
.login-input input.list-input {
	float: left;
	line-height: 35px;
	height: 35px;
	width: 350px;
	border: #ebebeb 1px solid;
	text-indent: 5px;
}
.black {
	border: #000000 1px solid;
}
.login-input {
	overflow: hidden;
	margin: 0px 0px 20px 0px;
}

.login-input label {
	float: left;
	width: 90px;
	padding-right: 10px;
	text-align: right;
	line-height: 35px;
	height: 35px;
	font-size: 14px;
}

.login-title span {
	position: absolute;
	font-size: 12px;
	right: -20px;
	top: -30px;
	background: #ffffff;
	border: #ebebeb solid 1px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.downhead {
	display: none;
	background-color: #fff;
	position: relative;
	width: 100%;
	height: 36px;
	border-bottom: 3px solid #c81623;
	line-height: 50px;
	vertical-align: center;
	padding: 10px;
	z-index: 9999;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .3);
}
.downsearch {
float: left;
margin-left: 120px;
}
.downlogo {
	float: left;
	width: 225px;
	height: 30px;
}
.downlogo a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
	z-index: 999;
}
.downlogo a img {
	width: 70%;
	padding: 5px;
}
.downshopcar {
	position: relative;
	margin-right: 65px;
	float: right;
	width: 138px;
	height: 34px;
	border: 1px solid #dfdfdf;
	background-color: #f7f7f7;
	line-height: 34px;
	text-align: center;
}
.bottomlift {
	display: none;
}
.logout {
	display: none;
	/* float: left; */
}
.remind {
	margin-left: 150px;
	font-size: 10px;
	font-weight: 300;
	color: #969696;
}
.remind input {
	margin: 0 5px;
}